# Node.js dependencies
node_modules/

# Build artifacts
/build/
/dist/

# Environment variables
.env*

# IDE/Editor specific files
.vscode/
.idea/

# Logs and runtime data
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS specific files
.DS_Store

# Compiled files
*.log
*.gz

# Ignore Tailwind CSS build output (if applicable)
.tailwindcss-cache/

# Ignore Next.js build output (if applicable)
.next/
